<!doctype html>
<html>
<head>
    <title>Bloom Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
</head>
<body id="profile1">
<div class="container">

    <div id="cashierInput" class="jumbotron text-center">
        <p> Kitchen Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>


</div>

<section id="cashier" class="CashierContainer">


   <form class="CashierTitle" action="/messages" method="POST">
     <input id="inputs" type="text" value="" placeholder="customer name" name="name">
     <input id="inputs"type="text" placeholder="drink" name="order" >
     <button type="submit">Submit</button>
   </form>
   </section>
</body>
</html>
